p {
  color: red;
}
head {
  font-family: sans-serif;
}
body {
  font-family: sans-serif;
  }

hr {
  background-color: #63CFEA;
  width: auto;;
  height: 2px;
  font-family: sans-serif;
}

h1 {
  color: #009CD1;
  font-family: sans-serif;
}
/*******************class*************/
/*
.lola {
  background-color: blue;
}
*/
/*******************id*************/
/*
#heading {
  color: red;
}
*/
#h1:hover {
  color: blue;
}
#h2:hover {
  color: blue;
}
#h3:hover {
  color: blue;
}
body {
    background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);
    text-align: center;
    margin: 5px;
    overflow: hidden;
}
